body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*pseudoelemento ::before*/
.boton::before
{
    content: "Pasa por encima";    
}

/*pseudoclase ::hover */
.boton:hover::before
{
    
    color: white;
    background-color: green;
    content: "¡ Hecho !";
}

