/* Crea las siguientes dos secciones:
Una barra lateral izquierda con tres elementos en vertical Una sección principal a la derecha

(Tip: Utiliza la disposición flex donde la sección principal utilizará flex-grow)

Utiliza las media queries para que cuando el ancho del viewport sea menor de 640px ocurra lo siguiente:

La barra lateral izquierda se muestre como una navegación en la parte inferior

La disposición de los elementos de la barra lateral se vuelva horizontal

(Tip: Trabaja con la propiedad flex-direction) */
body
{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    margin: 0;     
    padding: 0;  

}

.lateral
{
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    flex-direction: column;   
    justify-content: space-around;
     
    
}

.derecho 
{
    flex-grow: 1;
    background-color: rgb(42, 108, 165);
    padding: 10px;
    text-align: center;
}



@media (max-width:640px)
{
    .lateral{
               
        flex-direction: row; 
        justify-content: space-around;
        
    }

    body
    {
        flex-direction:column-reverse;
    }
}   